@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0 {
  --grid-gutter-x: 0px;
  --grid-gutter-y: 0px;
}

.gx-0 {
  --grid-gutter-x: 0px;
}

.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1 {
  --grid-gutter-x: 7.5px;
  --grid-gutter-y: 7.5px;
}

.gx-1 {
  --grid-gutter-x: 7.5px;
}

.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2 {
  --grid-gutter-x: 15px;
  --grid-gutter-y: 15px;
}

.gx-2 {
  --grid-gutter-x: 15px;
}

.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3 {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 30px;
}

.gx-3 {
  --grid-gutter-x: 30px;
}

.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4 {
  --grid-gutter-x: 45px;
  --grid-gutter-y: 45px;
}

.gx-4 {
  --grid-gutter-x: 45px;
}

.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5 {
  --grid-gutter-x: 90px;
  --grid-gutter-y: 90px;
}

.gx-5 {
  --grid-gutter-x: 90px;
}

.gy-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0%;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #201830;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button,
input {
  outline: none;
  border: none;
  background: transparent;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.dis-inline-block {
  display: inline-block;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}

.flex-algin-center {
  display: flex;
  align-items: center;
}

.title,
[class$=__title],
[class$=__sub-title] {
  font-size: 7rem;
  line-height: 1.14; /* 114.286% */
  font-weight: 700;
  color: #201830;
}

[class$=__title] {
  font-size: 4.2rem;
  line-height: 1.24; /* 123.81% */
}

[class$=__sub-title] {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5; /* 150% */
}

[class$=__btn--lg],
[class$=__btn--md],
[class$=__btn--sm] {
  width: 157px;
  height: 64px;
  display: inline-block;
  border-radius: 8px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66667; /* 166.667% */
  color: #201830;
  background: #936cdd;
}

[class$=__btn--md] {
  width: 116px;
  height: 48px;
  border-radius: 6px;
  font-size: 1.6rem;
  line-height: 1.75;
  background: #201830;
}

[class$=__btn--sm] {
  font-size: 1.4rem;
  line-height: 1.72;
}

[class$=__desc--lg],
[class$=__desc--md],
[class$=__desc--sm] {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6667;
  color: #201830;
}

[class$=__desc--md] {
  font-size: 1.6rem;
  line-height: 1.75;
  color: #665f73;
}

[class$=__desc--sm] {
  font-size: 1.4rem;
  line-height: 1.72;
}

[class^=main__] {
  margin-top: 160px;
}

[class$=__circle-box] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 52px;
  height: 12px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  margin-top: 55px;
  gap: 12px;
}

[class$=__circle] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d8d5de;
}

.card-title {
  width: 100%;
  height: 86px;
  border-radius: 0 0 8px 8px;
  bottom: 0;
  left: 0;
  padding: 16px 24px;
  fill: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* ========= Header ========= */
.header {
  padding-top: 42px;
  padding-bottom: 140px;
  background: #fff8f3;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.header .nav__link {
  color: #665f73;
  transition: all 0.3s;
}
.header .nav__link i {
  font-size: 1rem;
}
.header .nav__link:hover {
  text-decoration: underline;
  color: #201830;
}
.header .nav__btn-cover {
  display: flex;
  align-items: center;
}
.header .nav__btn {
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 28px;
  color: #201830;
}
.header .nav__btn--md {
  padding: 9px 29px;
  color: #fff;
}
.header__content {
  justify-content: space-between;
  margin-top: 110px;
}
.header__images {
  display: flex;
}
.header__images .images__image {
  width: 270px;
  height: 302px;
  object-fit: cover;
  border-radius: 8px;
}
.header__images .images__card {
  bottom: -83px;
  left: -6px;
}
.header__images .images__listener {
  width: auto;
  height: auto;
  margin-top: 53px;
  background: transparent;
}
.header__images .images__avt-gr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.header__images .images__avatar, .header__images .images__avatar--more {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: -18px;
  outline: 2px solid #fff;
}
.header__images .images__avatar:first-child {
  margin-left: 0;
}
.header__images .images__avatar--more {
  background: #201830;
}
.header__images .images__avatar--text {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}
.header__images .images__icon--box {
  width: 270px;
  height: 158px;
}
.header__images .images__icon--circle {
  width: 82px;
  height: 82px;
  top: 8px;
  right: -148px;
  border-radius: 50%;
  background: #ff9051;
}
.header__images .images__icon--content {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__images .images__icon--text:first-child {
  margin-bottom: 4px;
  font-size: 1.4rem;
  font-weight: 800;
  color: #fff;
}
.header__images .images__icon--text:last-child {
  font-size: 1rem;
  font-weight: 500;
  color: #ffefe7;
}
.header__images .images__icon--line.left {
  top: 44.5px;
  left: 54px;
}
.header__images .images__icon--line.right {
  bottom: 13px;
  right: 63px;
}
.header__images .images__icon--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 18px;
  gap: 18px;
}
.header__images .images__card-text {
  width: 194px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 16px;
  left: 38px;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.header__images .images__card-text--author {
  margin-bottom: 6px;
  font-size: 1.4rem;
  font-weight: 600;
}
.header__images .images__card-text--name-song {
  font-size: 1.2rem;
  color: #665f73;
}
.header__title {
  margin-bottom: 20px;
  z-index: 2;
}
.header__title-bg {
  top: 150px;
  left: 25px;
  z-index: 1;
}
.header__desc--lg {
  margin-bottom: 40px;
}
.header__btn-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}
.header__btn--lg:first-child {
  padding: 17px 27px;
  color: #fff;
}
.header__btn--lg:last-child {
  width: auto;
  height: auto;
  padding: 17px 14px;
  background: transparent;
}
.header__btn--lg:last-child i {
  margin-left: 8px;
}

/* ========= Hero ========= */
.hero__title {
  margin-top: 45px;
  margin-bottom: 18px;
}
.hero__icon-bg {
  bottom: -10px;
  left: -52px;
  z-index: -1;
  scale: 0.8;
}
.hero__desc--md {
  margin-bottom: 38px;
}
.hero__btn--lg {
  padding: 17px 15px;
  color: #fff;
}
.hero__btn--lg i {
  margin-left: 8px;
  font-size: 1.6rem;
}
.hero__social-cloud {
  right: 0;
  top: 59px;
}
.hero__social-circle {
  left: 0;
  top: 164px;
}
.hero__social-music {
  top: 0;
  left: 185px;
  scale: 5.3;
}
.hero__social-spotify {
  top: 319px;
  left: 169px;
  scale: 4.5;
}
.hero__social-color {
  top: 221px;
  left: 385px;
  scale: 5;
}
.hero__social--bg {
  width: 287px;
  height: 287px;
  top: 56px;
  left: 142px;
  border-radius: 100%;
  background: #ff9051;
  opacity: 0.4;
  filter: blur(129px);
  z-index: -1;
}

/* ========= Features ========= */
@media (min-width: 992px) {
  .col-lg-feature-1 {
    width: 62.5%;
    flex: 0 0 auto;
  }
  .col-lg-feature-2 {
    width: 37.5%;
    flex: 0 0 auto;
  }
}
.features__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.features__title {
  margin-bottom: 18px;
}
.features__desc--md {
  margin-bottom: 70px;
}
.features__card--card .card-1__image {
  width: 100%;
  height: 600px;
  object-position: 20% center;
}
.features__card--card .card-2__image {
  width: 100%;
  height: 285px;
  object-position: 20% center;
}
.features__card--card .card-3__image {
  width: 100%;
  height: 285px;
  object-position: 40% center;
}
.features__card--card .card-4__image {
  margin-top: 30px;
  width: 100%;
  height: 285px;
  object-position: 40% center;
}
.features__card--card .card-5__image {
  margin-top: 30px;
  width: 100%;
  height: 285px;
  object-position: 40% center;
}
.features__btn-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}
.features__btn--lg {
  padding: 17px 26px;
  transition: all 0.3s;
  color: #fff;
  background: #201830;
}
.features__btn--lg:hover {
  opacity: 0.9;
}

.features__card [class$=__image] {
  object-fit: cover;
  border-radius: 8px;
}

.card__btn--lg {
  width: auto;
  height: auto;
  background: transparent;
  color: #fff;
}
.card__btn--lg i {
  margin-left: 8px;
  font-size: 1.4rem;
}
.card__desc--sm {
  color: #fff;
}

/* ========= Blog ========= */
.main__blog {
  padding: 100px 0;
  background: #fff8f3;
}

.blog__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 84px;
}
.blog__title {
  width: 40%;
}
.blog__text-bg {
  top: 40px;
  left: -90px;
  scale: 0.6;
}
.blog__btn--lg {
  padding: 17px 25px;
  transition: all 0.3s;
  color: #fff;
  background: #201830;
}
.blog__btn--lg:hover {
  opacity: 0.9;
}
.blog__image {
  width: 100%;
  height: 286px;
  object-fit: cover;
  border-radius: 8px;
}
.blog__circle:first-child {
  width: 12px;
  height: 12px;
  background: #936cdd;
}

.blogs__content {
  padding: 30px 0;
}
.blogs__desc--sm {
  color: #ff9051;
  margin-bottom: 6px;
}
.blogs__sub-title {
  width: 90%;
  margin-bottom: 18px;
}
.blogs__btn--sm {
  width: auto;
  height: auto;
  margin-top: 11px;
  transition: all 0.2s;
  color: #201830;
  background: transparent;
}
.blogs__btn--sm i {
  margin-left: 6px;
  font-size: 1.4rem;
}
.blogs__btn--sm:hover:not(i) {
  text-decoration: underline;
  color: #936cdd;
}
.blogs-end {
  margin-top: 30px;
}

/* ========= Testimonial ========= */
.tmn__image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tmn__image--sm {
  width: 270px;
  height: 284px;
  border-radius: 8px;
  object-fit: cover;
  z-index: 2;
}
.tmn__image--lg {
  width: 370px;
  height: 444px;
  margin-left: -70px;
  border-radius: 8px;
  object-fit: cover;
}
.tmn__circle-box {
  top: 380px;
  left: 135px;
}
.tmn__circle:last-child {
  width: 12px;
  height: 12px;
  background: #936cdd;
}
.tmn__content {
  margin-top: 50px;
}
.tmn__title {
  margin-top: 18px;
  margin-bottom: 36px;
  width: 90%;
}
.tmn__desc--md {
  width: 90%;
}
.tmn__desc--sm {
  margin-top: 18px;
  color: #aba6b5;
}
.tmn__bg-2 {
  bottom: -12px;
  left: -75px;
  scale: 0.6;
  z-index: -1;
}

/* ========= News ========= */
.news__container {
  padding: 100px;
  border-radius: 12px;
  background: #201830;
}
.news__content, .news__button-box {
  margin-left: 30px;
}
.news__title {
  color: #fff;
}
.news__desc--md {
  color: #aba6b5;
}
.news__button-box {
  margin-top: 70px;
}
.news__input {
  width: 370px;
  height: 64px;
  width: 100%;
  padding: 0 28px;
  border-radius: 8px;
  color: #fff;
  background: #2b213f;
}
.news__btn--lg {
  color: #fff;
}
.news__text-bg {
  left: -94px;
  bottom: -15px;
  scale: 0.5;
}
.news__star {
  font-size: 2.4rem;
  z-index: 1;
}

.star--1 {
  left: 35px;
  bottom: 45px;
  color: #936cdd;
}

.star--2 {
  left: 528px;
  top: 26px;
  color: #5BC18F;
}

.star--3 {
  right: 27px;
  top: 180px;
  color: #FF9051;
}

/* ========= Footer ========= */
.footer {
  padding-top: 104px;
  padding-bottom: 38px;
  background: #fff8f3;
}
.footer__row {
  gap: 58px;
}
.footer__copyright {
  width: 270px;
  margin-top: 14px;
  margin-bottom: 18px;
}
.footer__item {
  margin-top: 16px;
}
.footer__item:nth-child(1) {
  margin-top: 0;
}
.footer__item:nth-child(2) {
  margin-top: 24px;
}
.footer__social-box {
  display: flex;
  gap: 16px;
}

/*# sourceMappingURL=main.css.map */
