@use "./variables" as var;
@use "./mixins" as mix;

*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var.$font-family;
    font-size: 1.6rem;
    font-weight: 400;
    color: var.$primary-color;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

button,
input {
    outline: none;
    border: none;
    background: transparent;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}
.dis-inline-block {
    display: inline-block;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.text-align-center {
    text-align: center;
}

.flex-algin-center {
    display: flex;
    align-items: center;
}

.title,
[class$="__title"],
[class$="__sub-title"] {
    font-size: var.$text-size--main-title;
    line-height: 1.14; /* 114.286% */
    font-weight: 700;
    color: var.$primary-color;
}

[class$="__title"] {
    font-size: var.$text-size--sub-title;
    line-height: 1.24; /* 123.81% */
}

[class$="__sub-title"] {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5; /* 150% */
}

[class$="__btn--lg"],
[class$="__btn--md"],
[class$="__btn--sm"] {
    @include mix.size(157px, 64px);
    display: inline-block;
    border-radius: 8px;
    font-size: var.$text-size-lg;
    font-weight: var.$text-weight-button;
    line-height: 1.66667; /* 166.667% */
    color: var.$primary-color;
    background: var.$button-color;
}

[class$="__btn--md"] {
    @include mix.size(116px, 48px);
    border-radius: 6px;
    font-size: var.$text-size-md;
    line-height: 1.75;
    background: var.$primary-color;
}

[class$="__btn--sm"] {
    font-size: var.$text-size-sm;
    line-height: 1.72;
}

[class$="__desc--lg"],
[class$="__desc--md"],
[class$="__desc--sm"] {
    font-size: var.$text-size-lg;
    font-weight: var.$text-weight-desc;
    line-height: 1.6667;
    color: var.$primary-color;
}

[class$="__desc--md"] {
    font-size: var.$text-size-md;
    line-height: 1.75;
    color: #665f73;
}

[class$="__desc--sm"] {
    font-size: var.$text-size-sm;
    line-height: 1.72;
}

[class^="main__"] {
    margin-top: 160px;
}

[class$="__circle-box"] {
    @include mix.flexCenter(space-between, center);
    @include mix.size(52px, 12px);
    @include mix.position(center);
    margin-top: 55px;
    gap: 12px;
}

[class$="__circle"] {
    @include mix.size(8px);
    border-radius: 50%;
    background: #d8d5de;
}

.card-title {
    @include mix.size(100%, 86px);
    @include mix.rounded(0, 0, 8px, 8px);
    bottom: 0;
    left: 0;
    padding: 16px 24px;
    fill: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
