$primary-color: #201830;
$secondary-color: #ff9051;
$button-color: #936cdd;
$background-color: #fff8f3;

$font-family: "Plus Jakarta Sans", sans-serif;
$text-size--main-title: 7rem;
$text-size--sub-title: 4.2rem;
$text-size-lg: 1.8rem;
$text-size-md: 1.6rem;
$text-size-sm: 1.4rem;
$text-weight-button: 600;
$text-weight-desc: 400;
